@import "tailwindcss";

:root {
  --font-primary: 'Inter', sans-serif;
  --text-color-dark: #313131;
  --text-color-light: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
   font-family: 'Inter';
   scrollbar-width: none; 
  -ms-overflow-style: none; 
}

html, body {
  overflow-x: hidden;
  height: 100%;
}


body::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

    /* Loader */

#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff; 
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
}


#preloader:before,
#preloader:after {
  content: "";
  position: absolute;
  border: 4px solid transparent;
  border-radius: 50%;
  animation: animate-preloader 3s cubic-bezier(0, 0.2, 0.8, 1) infinite; 
}

#preloader:before {
  border-color: #FFB100;
}

#preloader:after {
  border-color: #000; 
  animation-delay: -2s;
}


@keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

.heading-hero {
  font-family: var(--font-primary);
  font-weight:500;
  font-size: 69px;
  line-height: 1.1;
  color: var(--text-color-dark);
}

.heading-subtitle {
 font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 25px;
   color: #6a6868;
  line-height: 1.3;
  margin-top: 22px;
}

.heading-hero-mobile{
  font-family: "Inter", sans-serif;
  font-weight: 540;
  font-size: 38px;
  color: #313131;
  letter-spacing: 0em;
  line-height: 1.2em;

}
.heading-subtitle-mobile{
  font-style: Inter;
  font-weight: 500;
  font-size: 17px;
  color: #6a6868;
  letter-spacing: 0em;
  line-height: 1.4em;

}
.navbar {
  font-family: 'Inter', sans-serif; 
  font-weight: 550; 
  font-size: 16px;
  color: #313131;
  letter-spacing: 0em;
  line-height: 1.2;
  }
  
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-navbar {
  animation: fadeIn 0.7s ease-in-out forwards;
  transition: all 0.7s ease-in-out;
}
@media (min-width: 768px) {
  .custom-navbar {
    margin-left: 16rem; 
  }
}

.nav-link {
  transition: all 0.3s ease;
  text-decoration: none;
  position: relative;
  color: inherit;
}

.nav-link:hover {
  color: #FFB100;
  
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-500 {
  animation-delay: 500ms;
}


.mobile-nav {
  display: block;
  margin-top: 0.75rem;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #313131;
}

.mobile-nav a {
  display: block;
  margin-bottom: 0.5rem; 
  text-decoration: none;
}

.mobile-nav a:last-child {
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.mobile-nav a:last-child:hover {
  background-color: #FFB100;
  color: black;
}

.client-login {
  font-family: 'Inter', sans-serif;
  font-weight: 400; 
  font-size: 18px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  padding: 0.75rem 1.90rem; 
  border-radius: 0.7rem;
  line-height: 1;
  letter-spacing: 0em;
  display: inline-block;
  transition: all 0.3s ease;
}
.client-login:hover {
  background-color: #FFB100;
  color: #000000;
}
.mobile-login-btn {
  font-family: 'Inter', sans-serif;
  display: inline-block;
  padding: 0.55rem 1.90rem;       
  border-radius: 0.7rem;       
  color: black;
  background-color: #000000;
  font-size: 15px;   
   color: #ffffff;       
  font-weight: 500;            
  text-align: center;
  transition: all 0.3s ease;
}

.mobile-login-btn:hover {
  background-color: #FFB100;
  color: black;
}
.hero-banner-image {
  position: absolute;
  width: 100%;
  height: 450px;
  filter: blur(0); 
  transform: scale(0.9);
  opacity: 0.5;
  object-fit: cover; 
}
.hero-banner-wrapper {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.hero-banner-wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(255, 255, 255, 1.85), transparent);
  pointer-events: none;
}


.email-input {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  padding: 10px 20px;
  border-radius: 9999px;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  max-width: 400px;
}

.subscribe-button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  padding: 10px 30px;
  border: none;
  border-radius: 9999px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #FFB100;
  color: #000000;
}
.heading-systems {
  font-family: 'Inter', sans-serif;
  font-weight: 600; 
  font-size: 32px;
  letter-spacing: 0;
  line-height: 1.1; 
}
.gradient-yellow-section {
  background: linear-gradient(320deg, #ffb100 0%, #ffcd5d 100%);
  height: 600px;
}


@media (max-width: 640px) {
  .heading-systems {
    font-size: 28px;
  }
}


@media (max-width: 768px) {
  .heading-hero {
    font-size: 36px;
  }
  .heading-section {
    font-size: 28px;
  }
  .body-large {
    font-size: 16px;
  }
  
  .client-login {
    font-size: 16px;
    padding: 0.9rem 1rem; 
    display: block;
  }
}
.desktop-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 560; 
  color: #ffffff;
  letter-spacing: 0;
  line-height: 1.1; 
   font-size: 26px;
}

@media (min-width: 1024px) {
  .desktop-heading {
    font-size: 34px;
  }
}
.gradient-section {
  background: linear-gradient(to bottom, #000000 0%, #2c2c2c 100%);
  min-height: 500px;
  color: #ffffff;
  position: relative;
}

@media (max-width: 768px) {
  .gradient-section {
    min-height: 600px; 
  }
}
.section-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 450; 
  color: #ffffff;
  letter-spacing: 0em;
  line-height: 1.2;
  font-size: 18px; 
}

@media (min-width: 1024px) {
  .section-heading {
    font-size: 32px;
  }
}
.left-column-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400; 
  color: #ffffff;
  letter-spacing: 0em;
  line-height: 1.3;
  font-size: 19px; 
  margin-bottom: 1.1em;
}

@media (min-width: 1024px) {
  .left-column-text {
    font-size: 26px;
  }
}

.right-column-text {
  font-family: 'Inter', sans-serif;
  font-weight: 340; 
  color: #ffffff;
  letter-spacing: 0em;
  line-height: 1.2;
  font-size: 16px; 
  
}

@media (min-width: 1024px) {
  .right-column-text {
    font-size: 26px;
  }
}

.right-column-link {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0em;
  line-height: 0;
  text-decoration: underline;
}

.right-column-link:hover {
  color: #FFB100;
}

.explore-link {
  font-family: 'Inter', sans-serif;
  font-weight: 300; 
  font-size: 19px;
  color: #ffffff;
  letter-spacing: 0em;
  line-height: 0;
  text-decoration: underline;
  display: inline-block;
  margin-top: 1rem;
  transition: color 0.3s ease;
}

.explore-link:hover {
  color: #FFB100;
}

@media (min-width: 1024px) {
  .explore-link {
    font-size: 24px;
    margin-top: 0.2em;
  }
}
.ecom-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 600; 
  color: #000000;
  letter-spacing: 0em;
  line-height: 1.1;
}

@media (min-width: 1024px) {
  .ecom-heading {
    font-size: 21px;
  }
}

@media (max-width: 1023px) {
  .ecom-heading {
    font-size: 19px;
  }
}
.paragraph-default {
  font-family: 'Inter', sans-serif;
  font-weight: 480; 
  font-size: 13px;
  line-height: 1.3;
  letter-spacing: 0em;
  color: #000000;
  text-align: left;
  margin-bottom: 0.75rem; 
}

@media (min-width: 768px) {
  .paragraph-default {
    font-size: 14px;
  }
}


.industry-description {
  font-family: 'Inter', sans-serif;
  font-weight: 500; 
  font-size: 16px;
  color: #000000;
  letter-spacing: 0em;
  line-height: 1em;
}

@media (max-width: 640px) {
  .industry-description {
    font-size: 13px;
    line-height: 1.5em;
  }
}
.industry-tag {
  font-family: 'Inter', sans-serif;
  font-weight: 600; 
  font-size: 17px;
  color: #000000;
  letter-spacing: 0em;
  line-height: 0;
}

@media (max-width: 640px) {
  .industry-tag {
    font-size: 13px;
    line-height: 0;
  }
}

.become-client {
  font-family: 'Inter', sans-serif;
  font-weight: 400; 
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 0em;
  line-height: 1.3em;

  background-color: #000000;
  padding: 1.6rem 1.6rem;
  border-radius: 0.5rem;
  width: 13rem;
  display: inline-block;
  text-align: center;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.become-client:hover {
  background-color: #FFB100;
  color: #000000; 
}

@media (max-width: 640px) {
  .become-client {
    width: 100%;
  }
}
.email-input {
  font-family: 'Inter', sans-serif;
  font-weight: 500; 
  font-size: 13px;
  color: #000000;
  letter-spacing: 0em;
  line-height: 0;

  padding: 0.75rem 1rem; 
  border: 1px solid #ccc; 
  border-radius: 3.5rem;
  width: 100%;
  outline: none;
}

.email-input::placeholder {
  color: #000000;
  opacity: 0.6; 
}
.subscribe-button {
  font-family: 'Inter', sans-serif;
  font-weight: 500; 
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0em;
  line-height: 0;

  background-color: #000000; 
  padding:  1.2rem 2.7rem;  
  border: none;
  border-radius: 3.5rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.subscribe-button:hover {
  background-color: #FFB100;; 
}
.category-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 600; 
  font-size: 17px;
  color: #000000;
  letter-spacing: 0em;
  line-height: 0;                
  margin-top: 15;
}
.footer-list {
  font-family: 'Inter', sans-serif;
  font-weight: 400; 
  font-size: 13px;
  color: #000000;
  letter-spacing: 0em;
  line-height: 3em;
}
.company-name {
  font-family: 'Inter', sans-serif;
  font-weight: 400; 
  font-size: 15px;
  color: #000000;
  letter-spacing: 0em;
  line-height: 0.7em;
}

@media (max-width: 640px) {
  .company-name {
    font-size: 13px; 
  }
}

/* Mobile Apps */

.mobile-header-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700; 
  font-size: 60px;
  line-height: 1.2;
}

.mobile-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 600; 
  font-size: 28px;
  line-height: 1.2em;
  text-align: center;
  margin-top: 0.5rem;
}

.mobile-divider {
  display: none;
}

@media (max-width: 767px) {
  .mobile-header-title {
    font-family: 'Inter', sans-serif;
    font-size: 46px;
    text-align: center;
    margin-right: 0;
  }

  .mobile-subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-left: 0;
  }

  
  .mobile-section {
    align-items: center !important;
    justify-content: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem !important;
  }
}


@media (min-width: 768px) {
  .mobile-header-title,
  .mobile-subtitle {
    font-family: 'Inter', sans-serif;
    text-align: left;
  }

  .mobile-divider {
    display: block;
    height: 78px;
    border-left: 2px solid #FFB100;
    margin: 0 2rem;
    width: auto;
  }
}


.card-container-wrapper {
  overflow-x: hidden;
}

.card-container {
  font-family: 'Inter', sans-serif;
  display: grid;
  gap: 1.8rem;
  padding: 4rem;
  grid-template-columns: repeat(1, 1fr);
  margin-right: 3.5rem;
}

.responsive-card {
  font-family: 'Inter', sans-serif;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 450px;
  min-width: 270px;
  scroll-snap-align: center;
  flex: 0 0 auto;
}

.responsive-card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 639px) {
  .card-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
    gap: 1.2rem;
    padding: 2rem 1rem;
    scrollbar-width: none; 
    -ms-overflow-style: none;
  }

  .responsive-card {
    width: 80%;
    max-width: 320px;
  }
}
.card-container::-webkit-scrollbar {
  display: none; 
}

@media (min-width: 640px) and (max-width: 1023px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}


.usecases-section {
  padding: 4rem 1rem;
  text-align: center;
  margin-top: 3rem;
}

.usecases-heading {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 4rem;
  text-align: left;  
  letter-spacing: 0em;
}

.usecases-subheading {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #6b7280;
  letter-spacing: 0em;
}

.usecases-grid {
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 1rem;
  padding-left: 2rem; 
}

.usecase-title {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #111827;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0.2em;
}

.usecase-desc {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #111827;
  letter-spacing: 0em;
  margin-top: 0;
  text-align: left;
}


@media (min-width: 640px) {
  .usecases-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .usecases-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.feature-section {
  font-family: 'Inter', sans-serif;
  padding: 4rem 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.feature-item {
  text-align: left;
  margin-left: 0; 
}

.feature-title {
  font-family: 'Inter', sans-serif;
  font-size: 28px; 
  font-weight: 600;
  color: #000000;
  letter-spacing: 0em;
  margin-bottom: 0.5rem;
}

.feature-subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 15px; 
  font-weight: 600;
  letter-spacing: 0em;
  color: #000000;
}

@media (min-width: 768px) {
  .feature-item {
    margin-left: 6rem;
  }

  .feature-title {
    font-size: 30px;
  }

  .feature-subtitle {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .feature-item {
    margin-left: 12rem;
  }

  .feature-title {
    font-size: 35px;
  }

  .feature-subtitle {
    font-size: 24px;
  }
}

