@import "tailwindcss";

@theme {
  --font-primary: 'Inter', sans-serif;

  /* Grayscale */
  --color-gray-dark: #313131;
  --color-gray-dark2: #727171;
  --color-gray-light: #F5F5F7;
  --color-gray-light2:#D9D9D9;
  --color-gray-light3: #6a6868;
 --color-arrow-color: #9CA3AF ;
  /* Dark Grays */
  --color-dark-gray: #111827;
  --color-dark-gray1: #333333;
  --color-dark-gray2: #444444;

  /* Light Grays / Whites */
  --color-white-gray: #606060;
  --color-white-gray2: #707070;
  --color-white-gray3: #5F5F5F;
  --color-white-gray4: #E5E7EB;
  --color-white-gray5: 	#9CA3AF;
  --color-white-gray6: 	#4B5563;
  --color-white-color1: #ffffff;

  /* Borders */
  --color-border-gray-white: #cccccc;
  --color-border-gray-white2: #eeeeee;

  /* Icons */
  --color-icon: #888888;

  /* Main Brand Colors */
  --color-primary: #0647ff;
  --color-secondary: #000000;
  --color-light-yellow: #0040CE;
  --color-light-blue: #437CF9;
 

  /* Utility */
  --space-1-5: 0.375rem;
  --flex-default: flex;
}


:root {
  --font-primary: 'Inter', sans-serif;
  --color-gray-dark: #313131;
  --color-gray-dark2:#727171;
  --color-gray-light:#F5F5F7;
  --color-gray-light2:#D9D9D9;
  --color-gray-light3:#6a6868;
  --dark-gray:#111827;
  --dark-gray1: #333333;
  --dark-gray2:#444444;
  --white-gray:#606060;
  --white-gray2:#707070;
  --white-gray3:#5F5F5F;
  --white: #ffffff;
  --border-gray-white: #cccccc;
  --border-gray-white2: #eeeeee;
  --icon-color:#888888;
  --primary-color: #0647ff;
  --secondary-color:#000000;
  --light-yellow:#437CF9;
  --light-blue: #437CF9;
  --space-1-5: 0.375rem; 
  --flex-default: flex;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  overflow-x: hidden;
   font-family: 'Inter';
   scrollbar-width: none; 
  -ms-overflow-style: none; 
}

html, body {
  overflow-x: hidden;
  height: 100%;
}


body::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

    /* Loader */
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff; 
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
}


#preloader:before,
#preloader:after {
  content: "";
  position: absolute;
  border: 4px solid transparent;
  border-radius: 50%;
  animation: animate-preloader 3s cubic-bezier(0, 0.2, 0.8, 1) infinite; 
}

#preloader:before {
  border-color:var(--primary-color);
}

#preloader:after {
  border-color: var(--secondary-color); 
  animation-delay: -2s;
}


@keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

.util-flex {
   font-family: "Inter", sans-serif;
  display: var(--flex-default);
  flex-direction: column;

}

.util-mx-1-5 {
   font-family: "Inter", sans-serif;
  padding-left: 12vh;  
  padding-right: 12vh;
}

@media (max-width: 1000px) and (min-width:539px) {
.util-mx-1-5 {
   font-family: "Inter", sans-serif;
  padding-left: 10vh;  
  padding-right: 10vh;
}
}
@media (max-width: 540px) {
  .util-mx-1-5 {
    padding-left: 3vh;
    padding-right: 3vh;
  }
}

@media (min-width: 1600px) {
  .util-mx-1-5 {
     font-family: "Inter", sans-serif;
    padding-left: 17vh;
    padding-right: 17vh;
  }
}

/* LOGO */
.gtw-logo {
  height: 3rem; 
  width: auto;
  
}
@media (max-width: 1024px) {
  .gtw-logo {
     max-height: 2rem;
     width: auto;
  }
}
@media (max-width: 740px) {
  .gtw-logo {
    height: 2rem; 
     width: auto;
  }
}


.heading-hero {
   font-family: "Inter", sans-serif;
  font-weight:500;
  font-size: 69px;
  line-height: 1.1; 
}

.heading-subtitle {
   font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: 1;
}

.heading-hero-mobile{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 38px;
  color: var(--color-gray-dark);
  letter-spacing: 0em;
  line-height: 1.2em;
}

.heading-subtitle-mobile{
  font-style: Inter;
  font-weight: 500;
  font-size: 17px;
  color: var(--color-gray-dark);
  letter-spacing: 0em;
  line-height: 1.4em;

}


.custom-navbar {
  animation: fadeIn 0.7s ease-in-out forwards;
  transition: all 0.7s ease-in-out;
}
@media (min-width: 768px) {
  .custom-navbar {
    margin-left: 22rem; 
  }
}

.nav-link {
  transition: all 0.3s ease;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  color: inherit;
  letter-spacing: 0em;
  line-height: 0;
}

.nav-link:hover, .nav-link.active {
  color: var(--primary-color) !important;
}
.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}
.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
  opacity: 1;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-500 {
  animation-delay: 500ms;
}



.client-button {
  font-family: 'Inter', sans-serif;
  display: flex;
  font-weight: 300;
  font-size: 15px;
  padding: 12px 16px;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  letter-spacing: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.mobile-login-btn {
  font-family: 'Inter', sans-serif;
  display: inline-flex;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 300;
  transition: all 0.3s ease;
  
}



.hero-banner-wrapper {
  position: relative;
  width: 100%;
  height: 60.5vh;
  overflow: hidden;
  background-image: url('/images/hero1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(0); 
  transform: scale(1.15);
  transform-origin: top; 
  opacity: 0.8; 
  top: 0;
  
}

.hero-banner-wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), transparent);
  pointer-events: none;
}

.email-input {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 9999px;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  max-width: 400px;
}

.subscribe-button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  background-color: var(--secondary-color);
  padding: 10px 30px;
  border: none;
  border-radius: 9999px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.heading-systems {
  font-family: 'Inter', sans-serif;
  font-weight: 600; 
  font-size: 32px;
  letter-spacing: 0;
  line-height: 1.3; 
}
@media (max-width: 640px) {
  .heading-systems {
    font-size: 26px;
  }
}
.gradient-yellow-section {
  background-image: url('/images/bg-blue.png');
  background-size: cover;       
  background-repeat: no-repeat; 
  background-position: center;  
  height: auto;
}

@media (min-width: 640px) {
  .gradient-yellow-section {
    height: auto;
  
    
  }
}


.arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  transition: transform 0.3s ease;
}

.arrow-button:hover {
  transform: scale(1.05);
}
.arrow-button + .arrow-button {
  margin-left: 0.5rem;
}


@media (max-width: 768px) {
  .heading-hero {
    font-size: 36px;
  }
  .heading-section {
    font-size: 28px;
  }
  .body-large {
    font-size: 16px;
  }
 
}
.desktop-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 560; 
  color: var(--white);
  letter-spacing: 0;
  line-height: 1.1; 
   font-size: 26px;
}

@media (min-width: 1024px) {
  .desktop-heading {
    font-size: 34px;
  }
}
.gradient-section {
  background: var(--secondary-color);
  min-height: auto;
  color: var(--white);
  position: relative;
}

@media (max-width: 768px) {
  .gradient-section {
    min-height: auto; 
  }
}

.yellow-container {
  font-family: "Inter", sans-serif;
 padding-left: 12vh;  

}
@media (max-width: 768px) {
  .yellow-container {
    padding-left: 3vh;
  
  }
  .grid-title{
    font-size: 14px;
    line-height:1.5;
  }
}
@media (min-width: 1600px) {
  .yellow-container {
     font-family: "Inter", sans-serif;
    padding-left: 17vh;
  
  }
}

@media (min-width: 1600px) {
  
}
.section-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 450; 
  color: var(--white);
  letter-spacing: 0em;
  line-height: 1.2;
  font-size: 18px; 
}

@media (min-width: 1024px) {
  .section-heading {
    font-size: 32px;
  }
}
.left-column-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400; 
  color: var(--white);
  letter-spacing: 0em;
  font-size: 19px; 
 
}

@media (min-width: 1024px) {
  .left-column-text {
    font-size: 26px;
  }
}

.right-column-text {
  font-family: 'Inter', sans-serif;
  font-weight: 340; 
  color: var(--white);
  letter-spacing: 0em;
  line-height: 1.1;
  font-size: 16px; 
  
}

@media (min-width: 1024px) {
  .right-column-text {
    font-size: 26px;
  }
}


.explore-link {
  font-family: 'Inter', sans-serif;
  font-weight: 300; 
  font-size: 19px;
  color: var(--white);
  letter-spacing: 0em;
  line-height: 0;
  text-decoration: underline;
  display: inline-block;
  transition: color 0.3s ease;
}

.explore-link:hover {
  color: var(--primary-color);
}

@media (min-width: 1024px) {
  .explore-link {
    font-size: 24px;
  }
}
.ecom-heading {
  font-family: 'Inter', sans-serif;
  color: var(--secondary-color);
  letter-spacing: 0em;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

@media (min-width: 1024px) {
  .ecom-heading {
    font-size: 21px;
  }
}

@media (max-width: 1023px) {
  .ecom-heading {
    font-size: 19px;
  }
}
.paragraph-default {
  font-family: 'Inter', sans-serif;
  font-weight: 300; 
  font-size: 13px;
  line-height: 1.3;
  letter-spacing: 0em;
  color: var(--secondary-color);
  text-align: left;
  margin-bottom: 0.75rem; 
}

@media (min-width: 768px) {
  .paragraph-default {
    font-size: 14px;
  }
}



.industry-description {
  font-family: 'Inter', sans-serif;
  font-weight: 500; 
  font-size: 16px;
  color: var(--secondary-color);
  letter-spacing: 0em;
  line-height: 1em;
}

@media (max-width: 640px) {
  .industry-description {
    font-size: 14px;
    line-height: 1.5em;
  }
}
.industry-tag {
  font-weight: 600; 
  font-size: 17px;
  color: var(--secondary-color);
  letter-spacing: 0;
  line-height: 1.2;
     
  width: 10.6rem;        
  height: 1rem;        
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 968px) {
  .industry-tag {
    font-size: 12px;
    line-height: 1.2; 
  width: 7.5rem;
  

  }
}
.product-right {
  margin-top: 2rem;
  width: 100%;
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  column-gap:0;
  row-gap: 8px;    
}


@media (max-width: 768px) {
  .product-right {
   
      display: grid;
  grid-template-columns: repeat(2, 1fr); 
  column-gap: 40px;
  row-gap: 8px;
  justify-items: left;
  
  
  margin: 8px 0px auto 0px;
  }
}
/* global.css */
.consumer-product {
  display: block;
  
}


@media (min-width: 768px) {
  .consumer-product {
    display: grid;
    grid-template-columns: minmax(200px, .8fr) minmax(250px, 1.3fr);
    gap: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--primary-color);
  }
  
}



.product-left {
 width: 100%;
}




@layer utilities {
  .usecases-grid1 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 4rem; 
    justify-content: space-between; 
  }

  @media (min-width: 640px) {
    .usecases-grid1 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: none;
    }
  }

  @media (min-width: 1024px) {
    .usecases-grid1 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
   /* Next Step Section */
.next-steps-section {
  background-color: var(--secondary-color);
  color: var(--white);
  text-align: center;
  padding-bottom: 6vh;
  padding-top: 6vh;
  font-family: 'Inter', sans-serif;
  max-width: 100%;
}

.next-steps-section .icon {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-steps-section .icon img {
  width: 150px;
  height: 150px;
}

.button-group {
  display: flex;
  flex-direction: row;        
  align-items: center;        
  justify-content: center;    
  gap: 0.7rem;                
  flex-wrap: wrap;   
}

.cta-button {
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 400;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 220px;           
  text-align: center;
}

.next-steps-section p {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  margin-top: 0.8rem;
  margin-bottom: 1.8rem;
  color: var(--white);
}
.become-client {
  font-family: 'Inter', sans-serif;
  font-weight: 400; 
  font-size: 20px;
  color: var(--white);
  letter-spacing: 0em;
  line-height: 1.3em;
  background-color: var(--secondary-color);
  padding: 1.6rem 1.6rem;
  border-radius: 0.5rem;
  width: 13rem;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.become-client:hover {
  background-color: var(--primary-color);
  color: var(--white); 
}

@media (max-width: 640px) {
  .become-client {
    width: 100%;
  }
}

.category-heading {
  font-weight: 500; 
  font-size: 23px;
  color: var(--secondary-color);
  letter-spacing: 0%;
  line-height: 100%;                
  margin-top: 91px;
  margin-bottom: 44px;
        
}

.footer-list li {
  color: var(--secondary-color); 
  font-weight: 400; 
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 34px;
}

.company-name {
  font-family: 'Inter', sans-serif;
  font-weight: 400; 
  font-size: 15px;
  color: var(--secondary-color);
  letter-spacing: 0em;
  line-height: 1em;
}

@media (max-width: 640px) {
  .company-name {
    font-size: 13px; 
  }
}
.capsule-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 9999px; 
  background-color: var(--white);
   width: calc(100vw - 6vw); 
  margin: 0 auto;
}

.grey-divider{
  width: calc(100vw - 6vw);
  height: 1.2px;
background-color: rgba(112, 112, 112, 1);
margin: 0 auto;
}
@media (min-width: 640px) {
  .capsule-container {
    flex-direction: row;
    gap: 1rem;
    padding: 1.5rem 2.6rem;
   
  }
}
@media (max-width: 768px) {
  .capsule-container {
    width: calc(100vw - 1rem); 
    padding: 1rem 1.1rem;
  }
  .company-information {
     width: calc(100vw - 1rem); 
    padding: 1rem 1.1rem;
  }
}
.company-information {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 6rem); 
  margin: 0 auto;
  padding: 1rem 2.5rem;
}
.company-info {
  display: none;
  display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
font-size: 14px; 
margin-bottom: 3rem;  
}

.email-name {
  flex-grow: 1;
  padding-left: 1rem;  
  padding-right: 1rem;
  padding-top: 0.5rem;  
  padding-bottom: 0.5rem;
  border-radius: 9999px; 
  border: 1px solid var(--border-gray-white); 
  width: 65%;
  font-size: 0.75rem;
}

@media (min-width: 640px) {
  .email-name {
    width: 24rem;
    font-size: 1rem; 
  }
}

@media (min-width: 1024px) {
  .email-name {
    width: 500px; 
  }
}
.subscribe-name {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  width: 35%;
  font-size: 0.75rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.subscribe-name:hover {
  background-color: var(--primary-color); 
  color: var(--white);
}

@media (min-width: 640px) {
  .subscribe-name {
    width: 10rem;            
  }
}

@media (min-width: 1024px) {
  .subscribe-name {
    width: 12rem;   
    font-size: 1rem;        
  }
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 60px; 

}

.footer-left {
  flex: 0.3;
  position: relative;
  overflow: visible;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.footer-left .footer-image {
  position: relative;
  bottom: -99px;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .footer-bottom {
    display: none !important;
  }
}

.footer-right {
  flex: .7;
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 12px;
}



.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
 
}







/* Mobile Apps */

.mobile-header-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700; 
  font-size: 60px;
  line-height: 1.2;
}

.mobile-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 600; 
  font-size: 28px;
  line-height: 1.2em;
  text-align: center;
  margin-top: 0.5rem;
}

.mobile-divider {
  display: none;
}

@media (max-width: 767px) {
  .mobile-header-title {
    font-family: 'Inter', sans-serif;
    font-size: 46px;
    text-align: center;
    margin-right: 0;
  }

  .mobile-subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-left: 0;
  }

  .mobile-section {
    display: flex;
    margin: auto;
  }
}


@media (min-width: 768px) {
  .mobile-header-title,
  .mobile-subtitle {
    font-family: 'Inter', sans-serif;
    text-align: left;
  }

  .mobile-divider {
    display: block;
    height: 78px;
    border-left: 2px solid var(--primary-color);
    width: auto;
  }
}



.card-container {
  display: grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
}
@media (max-width: 668px) {
  .card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    gap: 16px;
  }

  .card-container::-webkit-scrollbar {
    display: none;
  }

  .responsive-card {
    flex: 0 0 auto;
   
  }
}

.responsive-card {
  background-color: var(--white);
  
  border-radius: 24px;
  display: flex;
  flex-direction: column;
 
  
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: auto;
  scroll-snap-align: center;
  
}
.responsive-card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;         
}

.slick-dots li button:before {
  font-size: 10px;
  color: #000;
}

.slick-dots li.slick-active button:before {
  color: #facc15;
}

@media (min-width: 700px) and (max-width: 1000px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}




@media (max-width: 768px) {
  .card-container {
    gap: 1.8rem;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}


.usecases-section {
  padding-top: 4rem;
  padding-bottom: 5rem;
 
}


.usecases-subheading {
  font-family: 'Inter', sans-serif;
  color: var(--color-gray-dark2);
  letter-spacing: 0em;
}

.usecases-grid {
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 1rem;
  
}

.usecase-title {
  font-family: 'Inter', sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: var(--dark-gray);
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0.2em;
}

.usecase-desc {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: var(--dark-gray);
  letter-spacing: 0em;
  margin-top: 0;
  text-align: left;
}


@media (min-width: 640px) {
  .usecases-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .usecases-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.feature-section {
  font-family: 'Inter', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
gap: 5rem;
 
}

.feature-title {
  font-family: 'Inter', sans-serif;
  font-size: 30px; 
  font-weight: 400;
  color: var(--secondary-color);
  letter-spacing: 0.01em;

}

.feature-subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 18px; 
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

@media (min-width: 768px) {
 
  .feature-title {
    font-size: 30px;
  }

  .feature-subtitle {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
 
  .feature-title {
    font-size: 56px;
  }

  .feature-subtitle {
    font-size: 26px;
  }
}

/* StepForm */

.step-form-container {
  font-family: 'Inter', sans-serif;
  max-width: 100%;
  margin-top: 3rem;
  background-color: var(--white);
}

.step-indicator {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.custom-left-border {
  border-left: 3px solid var(--primary-color);
  padding-left: 1rem; 
  margin-bottom: 24px;
}
.step-label {
  font-weight: 600;
  font-size: 1.5rem;
}

.form-subheading {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-color);
  margin-bottom: 16px;
  
}

.select-wrapper {
  position: relative;
  width: 70%;
  max-width: 100%;
  margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
  .select-wrapper {
    width: 100%;
  }
}

.custom-select {
  width: 100%;
  padding: 0.75rem 1rem;
  padding-right: 2.5rem;
  
  border: 1px solid var(--border-gray-white);
  border-radius: 0.5rem;
  appearance: none;
  max-width: 100%; 
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .select-wrapper {
    width: 100%;
  }
   
}

.chevron-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--icon-color);
  font-size: 0.9rem;
}

.next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 4rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
  border-radius: 9999px;
  font-weight: 500;
  margin: 2rem auto 0 auto; 
  transition: background-color 0.2s ease;
  margin-bottom: 5rem;
}

.next-button:hover {
  background-color: var(--primary-color); 
  color: var(--white);
}

.input-box {
  width: 100%;
  padding: 6px 0;
  border: none;
  border-bottom: 1px solid var(--border-gray-white);
  font-size: 14px;
  outline: none;
  background: transparent;
}

@media (min-width: 768px) {
  .input-box {
    width: 60%;
  }
}
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}s

.skill-checkbox {
  cursor: pointer;
  font-size: 0.9rem;
}

.custom-upload-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);       
  color: var(--white);
  padding: 0.75rem 2rem;
  border-radius: 9999px;         
  font-weight: 500;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-upload-btn:hover {
  background-color: var(--dark-gray1);       
}
.custom-textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--border-gray-white);
  border-radius: 0.5rem;
  resize: vertical;
  font-size: 1rem;
  font-family: inherit;
  margin-top: 0.5rem;
  transition: border-color 0.2s;
}

.custom-textarea:focus {
  border-color: var(--dark-gray1);
  outline: none;
}
input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: var(--secondary-color);
}
 /* GTW-Way Philosphy */
.hero-wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.hero-video {
  position: absolute;
  width: 100%;
  height: 100vh; 
  object-fit: cover;
  z-index: 0;
}
@media (max-width: 640px) {
  .hero-video {
    height: 120vh;
   
  }
}
.hero-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin-top: 11rem; 
}
.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 14rem;
  color: var(--white);
  z-index: 1;
}



.division-title {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--light-blue);
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0.2em;
}
@media (max-width: 768px) {
  .division-title {
    font-size: 22px; 
  }
}

.division-desc {
  font-family: 'Inter', sans-serif;
  font-size: 19px;
  font-weight: 300;
  color: var(--white);
  letter-spacing: 0em;
  margin-top: 0;
  text-align: left;
}
@media (max-width: 768px) {
  .division-desc {
    font-size: 17px; 
  }
}
.operate-section {
  position: relative;
  color: var(--white);
  z-index: 1;
  overflow: hidden;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .operate-section {
    justify-content: center; 
  }
}

.operate-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('/images/bg-img1.png');
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: -1;
  filter: brightness(1);
}
.util-grid {
  display: grid;
}

/* Default: stacked */
.util-grid-cols-auto {
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 500px) and (max-width: 999px) {
  .util-grid-cols-auto {
    justify-content: center; 
  }

  .util-grid-cols-auto > * {
    max-width: 500px; 
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .util-grid-cols-auto {
    grid-template-columns: repeat(3, 1fr);
    justify-content: initial; 
  }

  .util-grid-cols-auto > * {
    max-width: none;
    margin: 0;
  }
}

.util-gap-x-25 {
  column-gap: 2.25rem;
}

.util-gap-y-15 {
  row-gap: 2rem;
}

.util-py-28 {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

.philosophy-section {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,   
    rgba(0, 0, 0, 0.7) 30%, 
    rgba(0, 0, 0, 1) 70%    
  );
  color: var(--white);
  margin-bottom: 10rem;
  margin-top: 5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  
}
@media screen and (min-width: 1000px) {
  .philosophy-section  {
    margin-bottom: 14rem;
  }
}
.blended-top::before {
  content: "";
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 25%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.8) 75%,
    #000 100%
  );
  z-index: 1;
  pointer-events: none;
}
.blended-top1::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 25%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.8) 75%,
    #000 100%
  );
  z-index: 1;
  pointer-events: none;
}





.site-header .nav-link {
  color: var(--secondary-color);
}

.transparent-header .nav-link {
  color: var(--white);
}

.transparent-header .ClientButton {
  border: 1px solid white;
  color: var(--white);
}
.transparent-header {
  background: transparent !important;
}
.site-header {
   position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent !important;
  color: var(--secondary-color);
  z-index: 9;
  transition: all 0.3s ease;
}
.home-header {
  background: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
 
}

.home-header .nav-link,
.home-header .gtw-logo,
.home-header .ClientButton {
  color: var(--white) ;
  border-color: var(--white) !important;
}
.home-header.home-header-scrolled {
  background: white !important;
}

@keyframes scrollAnim {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
} 



.site-header .nav-link { color: var(--secondary-color); }
.transparent-header .nav-link { color: var(--white); }
.transparent-header .ClientButton { border: 1px solid var(--white); color: var(--white); }
.site-header .gtw-logo {
  color: inherit; 
}


.mobile-drawer .nav-link {
  color: var(--secondary-color) !important ;
}

.mobile-drawer .mobile-login-btn {
  color: var(--white) !important;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);

  
}
.mobile-drawer {
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}



.backdrop-visible {
  opacity: 1;
  visibility: visible;
}

.backdrop-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-drawer-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 16rem;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  padding: 1.5rem; /* p-6 */
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.7s ease-out, opacity 0.5s ease-out;
  z-index: 9999;
}

.mobile-drawer-open {
  transform: translateX(0);
  opacity: 1;
}

.mobile-drawer-closed {
  transform: translateX(100%);
  opacity: 0;
}
.card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
  z-index: 1; 
  background: transparent;
  margin-top: -150px; 
}
.card-content,
.card-footer {
  opacity: 1;
  transition: opacity 0.8s ease;
}

.card:hover .card-content,
.card:hover .card-footer {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease; 
}



@media (min-width: 768px) {
  .card-section {
    flex-direction: row;
    align-items: flex-start;
    margin-top: -180px; 
  }
}
.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  background: linear-gradient(to bottom, var(--primary-color), var(--light-yellow));
  color: var(--white);
  min-height: 500px;
  transition: background 0.5s ease; 
}
@media (min-width: 768px) {
  .card {
    width: 33.333%;
  }
}

.card h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.55rem;
  margin-bottom: 1rem;
  text-align: left;
 
}

.card p {
  font-family: 'Inter', sans-serif;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: left;
   line-height: 1.6rem;
}

.card-footer {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size:large;
  margin-top: auto;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.card {
  position: relative;
  overflow: hidden;
}

/* Overlay Base */
.card-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  transition: top 1.2s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 3;
  padding: 2rem;
}

/* Smooth overlay slide both ways */
.card:hover .card-overlay {
  top: 0;
  transition: top 1.2s cubic-bezier(0.23, 1, 0.32, 1);
}
/* Slower slide down (on hover exit) */
.card:not(:hover) .card-overlay {
  transition: top 6s cubic-bezier(0.23, 1, 0.32, 1);
}
/* Content fades out */
.card:hover .card-content,
.card:hover .card-footer {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Inner animation elements (apply transitions on base too!) */
.card-overlay h3,
.card-overlay ul {
  transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1),
              opacity 0.8s ease;
}

/* Start positions (hidden) */
.card-overlay h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  transform: translateY(40px);
  opacity: 0;
}

.card-overlay ul {
  opacity: 0;
  transform: translateY(30px);
}

/* Animate in */
.card:hover .card-overlay h3 {
  transform: translateY(0);
  opacity: 1;
}

.card:hover .card-overlay ul {
  transform: translateY(0);
  opacity: 1;
}

/* List items */
.card-overlay ul li {
  margin-bottom: 1.2rem;
  line-height: 1.4;
  color: var(--white);
}

.challenge-section {
  background-color: var(--white);
}
.challenge-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: flex-start;
  flex-wrap: wrap;
}


.challenge-content {
  flex: 1 1 400px;
  max-width: 600px;
}
.challenge-subtitle {
  font-size: 1.2rem;
  color:var(--color-gray-dark2);
  margin-bottom: 3rem;
  margin-top: 0.8rem;
}

.challenge-list {
  list-style: none;
  
}

.challenge-detail{
   color:var(--color-gray-dark2);
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  padding-bottom: 2rem;
  border-top: 1px solid var(--border-gray-white2);
  padding-top: 2.2rem;
}

.challenge-list .number {
   color:var(--color-gray-dark2);
  font-weight: 600;
  font-size: 0.7rem;
  margin-right: 0.75rem;
}
.challenge-detail:hover,
.challenge-detail:hover .number {
color: var(--secondary-color);
}


.cta-box {

  background-color: var(--color-gray-light);
  padding: 1.9rem;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.cta-box strong{
  font-size: 1.5rem ;
  font-weight: 600;
}

.cta-link {
  display: inline-flex;       
  align-items: center;          
  gap: 0.5rem;                
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
}



.cta-box:hover {
background-color: var(--primary-color);
  color: var(--white);
}

@media (max-width: 768px) {
  .challenge-container {
    flex-direction: column;
    align-items: center;
  }
  .challenge-content {
    max-width: 100%;
  }
  .cta-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
     padding: 1rem;
  }
  .cta-box strong{
    font-size: 1.2rem;
  }
  .cta-link {
    margin-top: 10px; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
   .challenge-list li {
    margin-bottom: 1rem; 
    padding-top: 1.5rem;  
    font-size: 1.1rem;
  }
  .challenge-container {
    gap: 3rem;
  }
}
.custom-mobile-button {
  font-family: 'Inter', sans-serif;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 15px;
  padding: 12px 16px; 
  border-radius: 8px; 
  text-align: center;
  letter-spacing: 0;
  font-weight: 300;   
  transition: all 0.3s ease; 
  background-color: transparent;

}

.custom-mobile-button:hover {
  background-color: var(--white);
color: var(--primary-color);
}

@media (min-width: 700px) {
  .buttons-align-700 {
    flex-direction: row;
    justify-content: start;
  }
}



 .yellow-strip {
    font-family: 'Inter', sans-serif;
  background-color: var(--primary-color);
  text-align: center;
  padding: 2.5rem 2rem;
  
  }
   .yellow-strip p{
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
   }
   @media (max-width: 640px) {
  .yellow-strip p{
     font-size: 16px;
  }
}
  .campus-image-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
   
}
.campus-image-wrapper .image{
  width: 120px;
  height: auto;
}

.campus-image {
  width: 130px;      
  height: auto;
}
.number-image{
  width: 150px;
  height: 100px;
}
.work-card{
  width: calc(94% / 3);
}
.tech-card {
 
  flex-direction: column;
  width: 90%; 
  flex-shrink: 0;
  height: 400px;
  overflow: hidden;
  border: 1px solid var(--color-gray-light2);
  padding: 2rem;
  box-sizing: border-box;
}

@media (min-width: 425px) {
  .tech-card {
    width: 70%; 
  }
}
@media (max-width: 779px) and (min-width: 550px) {
  .tech-card {
    width: 50%; 
    }
}

@media (min-width: 780px) {
  .tech-card {
    width: 24%; 
    }
}
.tech-cards {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 90%; 
  flex-shrink: 0;
  height: 400px;
  overflow: hidden;
  border: 1px solid var(--color-gray-light2);
  padding: 2rem;
  box-sizing: border-box;
}

@media (min-width: 425px) {
  .tech-cards {
    width: 70%; 
  }
}
@media (max-width: 779px) and (min-width: 550px) {
  .tech-cards {
    width: 50%; 
    }
}

@media (min-width: 780px) {
  .tech-cards {
    width: 24%; 
    }
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none !important;
  }
  .work-card{
    width: calc(100% / 1);
  }
}
.ecom-headings .align-top-left{
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 1.2;
}
.ecom-headings {
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 1.2;
}

.paragraphs-default{
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
}
.headings{
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .headings{
    font-size: 16px;
  
  }
}
.heading-heros {
   font-family: "Inter", sans-serif;
  font-weight:400;
  font-size: 69px;
  line-height: 1.1; 
}

.heading-subtitles {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 26px;
  line-height: 1.3;
  margin-top: 22px;
  letter-spacing: 1;
}
@media (max-width: 768px) {
  .heading-subtitles {
    font-size: 17px;
    line-height: 1.4em;
  }
  .heading-heros {
    font-size: 38px;
  }
}
.expro-left{
color: var(--color-gray-light);
font-family: Inter;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 34px; 
justify-items: start;
letter-spacing: 0.2;
}
.expro-right{
color: var(--white);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 34px; 
}

.timeline {
  position: relative;
  margin-left: 16rem;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  width: 2px;
  height: 100%;
  background-color: var(--color-gray-light2);
  z-index: 0;
}

.timeline-item {
  position: relative;
  padding-left: 3rem; 
  align-items: center;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
}

.timeline-content {
  padding: 1rem;
}

.timeline-content h3 {
  margin-top: 0;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  width: 400px; 
  overflow-wrap: break-word; 
}
.timeline h2{
    text-align: left;           
  padding-left: 63px;       
  margin: 0; 
  width: 400px;
}
@media (max-width: 640px) {
  .timeline h2{
      text-align: left; 
      padding-left: 0; 
      margin: 0;  
      width: auto;
  }
  .timeline-content h3 {
     width: 300px; 
  }
}
.timeline-content p {
  color:var(--color-gray-dark2);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0.5rem 0 0 0;
  width: 500px; 
  overflow-wrap: break-word;
}
@media (max-width: 768px) {
  .timeline-content p {
    width: 100%; 
  }
}
.timeline-image  {
  width: 170px;
  height: 170px;
}
@media (max-width: 640px) {
  .timeline {
    margin-left: 0;
  }
  .timeline::before {
    display: none; 
  }
  .timeline-item {
    padding-left: 0; 
    flex-direction: column; 
    align-items: flex-start;
  }
  .timeline-image img {
  width: 100px;
    height: 100px;
  }
  .timeline-content {
    padding: 0;
  }
}



.stack-grid {
  display: grid;
 row-gap: 2rem;
}

@media (min-width: 768px) {
  .stack-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
@media (min-width: 568px) and (max-width: 1200px){
  .stack-grid {
    grid-template-columns: repeat(1, 1fr);
 
  }
}


.stack-item {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--secondary-color);
  color: var(--white);
 padding-left: 1rem;
 padding-right: 1.5rem;

 gap: 3.5rem;

}
@media (max-width: 768px) {
  .stack-item {
    gap: 2rem; 
  }
}
.stack-icon {
  flex-shrink: 0;
  display: flex;
  align-items: end;
}
.stack-icon img {
 max-width:  130px;
  height: auto; 
}

.parent-div {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding-top: 0.5rem;
}

.stack-text {
  color: var(--color-gray-light);
  font-family: Inter;
  font-size: 12px; 
  font-weight: 300;
  line-height: 1.3;
}
@media (min-width: 768px) {
  .stack-text {
    font-size: 16px; 
  }
  .stack-icon img{
    max-width:  300px;
  height: 200px;
  }
  .parent-div{
    padding-top: 2rem;
  }
}
.hero {
  margin-bottom: 60px;
}

.headline {
  font-size: 38px;
  font-weight: 600;
  line-height: 52px;
  text-transform: capitalize;
}
.highlight {
  color: var(--primary-color);
}
.subtext {
  font-size: 16px;
  color: var(--dark-gray1);
  max-width: 600px;
  margin-top: 8px;
}

.tagline {
  font-weight: 300;
  font-size: 16px;
}

.feature {
  margin-top: 40px;
}

.feature-text h3 {
 font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 44px;
text-transform: capitalize;
  margin-bottom: 8px;
}

.description {
  font-size: 14px;
  color: var(--dark-gray2);
  max-width: 400px;
 
}

.grid {
  display: flex;
  justify-content:center;
  align-items:center;
  gap: 35rem;
  margin-bottom: 4rem;
  margin-top: 8rem;
}
.cards-container {
  overflow:hidden;
 
}


.cards {
  display: flex;
  gap: 24px;
  margin-top: 32px;
  flex-wrap: nowrap;
  width: max-content;
  will-change: transform;
}

.cardss {
  width: 435px;
  height: 290px;
  background-color: var(--color-gray-light2);
  flex: 0 0 auto;
 
}
.background-hero {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}


.background-hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  max-width: 100%;
}

.insight-card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%; 
  max-width: 700px; 
  height: auto; 
  background: var(--white);
  border-radius: 0rem 0.2rem;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: top;
  z-index: 1;
}

@media (min-width: 768px) {
  .insight-card {
    width: 70%; 
    padding-top: 2rem;
    padding: 1rem;
  }
}
@media (min-width: 479px) and (max-width: 900px) {
  .background-hero img {
  width: 100%;
  height: 364px;
  object-fit: cover;
  display: block;
  max-width: 100%;
}
.insight-card{
    width: 80%; 
    height: auto;
   
}

}
@media (max-width: 480px) {
  .insight-card {
    width: 80%; 
    height: auto;
    padding: 1.1rem;
    font-size: 0.8rem;
  }
}

.insight-tags {
  font-size: 1rem; 
  color: var(--icon-color);
  display: flex;
  gap: 1rem;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-color:  var(--primary-color);
  text-decoration-thickness: 5%;
  text-underline-offset: 25%;
  text-underline-position: from-font;
}

.insight-link {
  position: relative;
  display: inline-block;
  font-size: 1.125rem; 
  color:  var(--icon-color);
  text-decoration: none;
   
}

.insight-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.insight-link:hover::after {
  width: 100%;
}


.insight-card h2 {
  color: var(--secondary-color);
  font-family: Inter, sans-serif;
  font-size: clamp(20px, 2.5vw, 32px); 
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
}

.insight-card .content-wrapper {
  width: 70%;
  max-width: 400px;
  min-width: 200px;
}


@media (max-width: 480px) {
  .insight-tags {
    font-size: 0.75rem; 
    gap: 0.5rem;
  }

  .insight-card .content-wrapper {
    width: 100%;
  }

  .insight-link {
    font-size: 0.875rem; 
  }

  .background-hero img {
    width: 390px;
    height: 264px;
  }
}


.perspective {
  perspective: 1000px;
}

.origin-right {
  transform-origin: right;
}

.rotate-y-0 {
  transform: rotateY(0deg);
  opacity: 1;
  pointer-events: auto;
}

.rotate-y-90 {
  transform: rotateY(90deg);
  opacity: 0;
  pointer-events: none;
}

.flip-container {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform-style: preserve-3d;
  will-change: transform, opacity;
}


@layer utilities {
  .grid-cols-fixed-4 {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    row-gap: 20px;
     justify-content: center;
  }

  @media (min-width: 440px) {
    .grid-cols-fixed-4 {
      grid-template-columns: repeat(2, minmax(0, min(100%, 345px)));
      column-gap: 20px;
    }
  } 

  @media (min-width: 1024px) {
    .grid-cols-fixed-4 {
      grid-template-columns: repeat(4, minmax(0, min(100%, 345px)));
      column-gap: 20px;
    }
  }
}
  @media (min-width: 1800px) {
    .grid-cols-fixed-4 {
      grid-template-columns: repeat(4, minmax(0, min(100%, 380px))); 
      column-gap: 92px; 
      row-gap: 92px;    
    }
  }


.blog-cards {
  position: relative; 
  height: 250px;
  border-radius: 18px;
 
}
.blog-header{
  color: var(--secondary-color);
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 1.2;

}
.blog-div{
   margin-top: 1.5rem;   
  padding-right: 0.5rem;   
  padding-left: 2rem; 
  
}
.blog-div p{
  color: var(--white-gray2);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-transform: uppercase;
}
.blog-div .blog-details{
color: var(--white-gray);
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 1.2;
}
.blog-title {
  border-bottom: 1px solid var(--white-gray2); 
  padding-bottom: 21px; 
  margin-bottom: 70px;  
}
.blog-title h1{
  color: var(--white-gray2);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
.blog-details-text p{
color: var(--white-gray2);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 1.5rem;
cursor: pointer;
}
.blog-details-text .category{
color: var(--white-gray2);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}
.blog-reading p,li{
color: var(--white-gray);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.5;
}
.blog-reading h3{
color: var(--white-gray);
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 1.7; 
}
.blog-reading h4{
color: var(--white-gray);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 1.2;
}
.blog-reading span{
  color: var(--white-gray);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 34px;
}

@media (max-width: 768px) {
  .blog-reading h4 {
    font-size: 18px;
  }
  .blog-reading h3{
    font-size: 26px;
  }
  .blog-reading p,li{
    font-size: 14px;
  }
  .blog-reading span{
    font-size: 16px;
  }
}
@layer utilities {
  .grid-cols-blog {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    row-gap: 20px;
    justify-content: center;
  
  }

  @media (min-width: 440px) and (max-width:649px ) {
    .grid-cols-blog {
      grid-template-columns: repeat(1, minmax(0, min(100%, 345px)));
      column-gap: 20px;
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }

  @media (min-width: 650px) {
    .grid-cols-blog {
      grid-template-columns: repeat(1, minmax(0, min(100%, 345px)));
      column-gap: 20px;
      
    }
  }

  @media (min-width: 1024px) {
    .grid-cols-blog {
      grid-template-columns: repeat(3, minmax(0, min(100%, 345px)));
      column-gap: 40px;
    }
  }
}

.quote-img-open {
  width: 100px;
   display: block; 
  height: auto;
  position: relative;
  transform: translate(0%, 80%);
}
.quote-img-close {
  position: relative;
  display: block;  
  margin-left: auto; 
  width: 100px;
  height: auto;
  transform: translate(0%, -100%);
}
.quote-text-wrapper {
  position: relative;
  width: calc(100vw - 800px); 
 margin-left: auto;
 margin-right: auto;
 margin-top: 42px;
}

.quote-text {
 color: rgba(0, 0, 0, 0.93);
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 34px;
}
.testimonial {
  height: 350px;
}
@media (max-width: 640px) {
  .quote-text {
    font-size: 16px;
    line-height: 1.4; 
  }
  .quote-text-wrapper{
     width: calc(100vw - 50px); 
       
  }
 .quote-img-close {
   transform: translate(0, -6%);
  padding-bottom: 43px;
 }
 .quote-img-open {
   transform: translate(0, 50%);
 }
  .author-title{
    font-size: 7px;
    
  }
  .author-name{
    font-size: 10px;
  }
  .testimonial{
    height: auto;
  }
}
.author-name {

color: var(--secondary-color);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;

}
.author-title {
color: var(--white-gray3);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 300;
text-align: center;
}

.impact-number {
 color: var(--primary-color);
font-family: Inter;
font-size: 128px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -5.12px;
}
.stack-volume{
border-radius: 28px;
background: var(--color-gray-light);
display: inline-flex;
padding: 30px 43px 29px 53px;
justify-content: flex-start;
align-items: center;
gap: 103px;
}
@media (max-width: 1700px) {
.stack-volume{
  display: inline-flex;
padding: 20px 29px 19px 36px;
justify-content: flex-start;
align-items: center;
}
}
.impact-text{
color: var(--secondary-color);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
@media (max-width: 640px) {
.stack-volume{
  display: inline-flex;
padding: 20px 29px 19px 36px;
justify-content: flex-start;
align-items: center;
gap: 60px;
}
.impact-number{
font-size: 80px;
font-weight: 400;
letter-spacing: -3.604px; 
}
.impact-text{
  font-size: 14.079px;
  line-height: 22.527px;
}
}
.across {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}
.column1 {
  display: grid;
  grid-template-rows: auto auto;
  gap: 6px;
}

.row1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}
.row1-col {
 border-radius: 20px;
 overflow: hidden;
}

.row2 {
 background-color: var(--color-gray-light);
  padding: 30px;
  border-radius: 20px;
}

.column2 {
  background-color: var(--color-gray-light);
  padding: 40px;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .across {
    grid-template-columns: 1fr;
  }
.grid-container {
    grid-template-columns: 1fr;
  }

  .column2 {
    order: 2; 
  }

  .column1 {
    order: 1;
  }
  
}
.grid-title{
color: rgba(0, 0, 0, 0.93);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 1.7;
letter-spacing: 0.7; 
}

.responsive-snap-container {
  flex-shrink: 0;
  width: 87vw;
 
}

@media (min-width: 640px) {
  .responsive-snap-container {
    width: 75vw;
    justify-content: center;
  }
}
.div-container {
   font-family: "Inter", sans-serif;
  padding-left: 12vh;  
 
}

@media (max-width: 768px) {
  .div-container {
    padding-left: 3vh;
    padding-right: 3vh;
  }
  .grid-title{
    font-size: 14px;
    line-height:1.5;
  }
}

@media (min-width: 1600px) {
  .div-container {
    font-family: "Inter", sans-serif;
    padding-left: 17vh;
  }
}
.vector {
  width: 108px;
  height: auto;
  position: relative;
  display: block;  
  margin-top: 1rem;   
  margin-left: auto;  
}
/* 
.consumer-product.pb-6.sm\:flex.sm\:justify-between.sm\:items-start.sm\:border-b.sm\:border-\[\#FFB100\] {
 margin-bottom: 30px;
} */

.flex-shrink-0.snap-start.w-\[90vw\].flex.flex-col.md\:flex-row.gap-12 {
    width: 100%;
}

.vertical-line {
  will-change: transform;
}


.box1 {
  width: 300px;
  height: 200px;
}

@media (min-width: 1024px) {
  .box1 {
    width: 750px;
    height: 400px;
  }
}

.terms-section {
  background-color: #fff;
  margin-top: 35px;
  margin-bottom: 78px;
}
@media (max-width: 768px) {
  .terms-section {
    margin-bottom: 42px;
  }
}
.terms-container {
  color: var(--thm-black);
  /* border: 1px solid #ddd;
  border-radius: 8px;               
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 40px;                    */
  background-color: #fff;
}

.terms-title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 24px;
  color: var(--thm-black);
}
@media (max-width: 768px) {
  .terms-title {
    font-size: 30px;
  }
}
.terms-heading {
  font-size: 30px;
  font-weight: 500;
  margin-top: 32px;
  margin-bottom: 12px;
  color: #222;
}
@media (max-width: 768px) {
  .terms-heading {
    font-size: 24px;
  }
}
.terms-container p {
  margin-bottom: 16px;
  font-size: 18px;
}
@media (max-width: 768px) {
  .terms-container {
    font-size: 14px;
  }
}
/* ==== Coming Soon Modal Styles ==== */
.comingSoon-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 1);
  backdrop-filter: blur(4px);
  
}

.comingSoon-modal {
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(30px);
  border-radius: 37px;
  padding: 80px 72px;
  max-width: 673px;
  width: 100%;
  text-align: center;
  color: black;
  position: relative;
}

.comingSoon-title {
  font-size: 40px;
  font-weight: 900;
  color: var(--light-yellow); 
  margin-bottom: 21px;
}

.comingSoon-text {
  color: var(--secondary-color);
  margin-bottom:64px;
  font-size: 18px;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 312px;
}

.comingSoon-form {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  border: 1px solid var(--light-yellow);
  overflow: hidden;
  backdrop-filter: blur(8px);
}

.comingSoon-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 21px 31px;
  color: #909090;
  font-size: 16px;
}

.comingSoon-input::placeholder {
  color: #909090;
  ;
}

.comingSoon-button {
  background:var(--primary-color);
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: none;
  padding: 21px 31px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.comingSoon-button:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .comingSoon-form {
    display: flex;
    width: 100%; /* ✅ ensure full width */
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .comingSoon-modal {
    border-radius: 37px;
    padding: 64px 38px;
    max-width: 354px;
    width: 100%;
  }

  .comingSoon-title {
    font-size: 32px;
    margin-bottom: 26px;
  }

  .comingSoon-text {
    margin-bottom: 46px;
    font-size: 16px;
  }

  /* ✅ fix input/button ratio */
  .comingSoon-input {
    flex: 0 0 60%;
    min-width: 0; /* prevents flex overflow */
    background: transparent;
    border: none;
    outline: none;
    padding: 23px 18px;
    font-size: 14px;
    box-sizing: border-box;
  }

  .comingSoon-button {
    flex: 0 0 40%;
    min-width: 0;
    font-weight: 700;
    font-size: 14px;
    border: none;
    padding: 23px 18px;
    background: linear-gradient(to right, #3b82f6, #1e40af);
    color: #fff;
    cursor: pointer;
    text-align: center;
  }
}
